body {
    background-color: black;
}

.galery {
    margin-top: 20px;
}

.title {
    background-color: #404040;
    color: #d9d9d9;
    width: 250px;
}

#main-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}